/* Images */
.brownies {
    height: auto;
    width: 225px;
}

.brownies.home {
    height: auto;
    width: 150px;
}

.deviledeggs {
    height: auto;
    width: 225px;
}

.deviledeggs.home {
    height: auto;
    width: 150px;
}

.pancakes {
    height: auto;
    width: 290px;
}

.pancakes.home {
    height: auto;
    width: 225px;
}
/* End of Images */
.ingredients {
    border: 4mm ridge rgba(211, 220, 50, 0.6);
}

.ingredients.main {
    text-align: center;
}

.ingredients.list {
    line-height: 12mm;
}