/* Images */
.brownies,
.deviledeggs {
    height: auto;
    width: 225px;
}

.brownies.home {
    height: auto;
    width: 150px;
}

.deviledeggs.home {
    height: auto;
    width: 150px;
}

.pancakes {
    height: auto;
    width: 290px;
}

.pancakes.home {
    height: auto;
    width: 225px;
}
/* Text */
.body {
    margin-left: 8mm;
    margin-top: 8mm;
    margin-right: 8mm;
    margin-bottom: 8mm;
    font-family: system-ui "Times New Roman" sans-serif;
}

.container {
    max-width: 80%;
    line-height: 12mm;
}

.container.description {
    border: 3mm inset rgba(223, 136, 36, 0.6);
    background-color: blanchedalmond;
}

.container.ingredients {
    border: 3mm inset rgba(223, 136, 36, 0.6);
    background-color: blanchedalmond;
}

.container.directions {
    border: 3mm inset rgba(223, 136, 36, 0.6);
    background-color: blanchedalmond;
}

.container.nutrition {
    border: 3mm inset rgba(223, 136, 36, 0.6);
    background-color: blanchedalmond;
}

/*.ingredients.title {
    
}
*/